body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*---HEADER---*/

header{
    display: flex;
    color: white;
    background-color:#1C2233;
    min-height: 47px;
}

header nav{
    margin-left: auto; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/margin-left*/
    display: flex;
    align-items: center;
}

header nav a{
    display: block;
    padding: 10px;
    color: #888fa0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .70em;
    text-decoration: none;
}

header nav a#current-page{
    border-radius: 5px;
    background-color: rgb(57, 81, 117);
}

h1{
    white-space: nowrap; /*https://www.w3schools.com/cssref/pr_text_white-space.php*/
    font-size: medium;
    font-weight: 400;
    margin-left: 20px;
    font-family: "Roboto Mono", monospace; /*Imported from Google fonts*/

}

h1 span.header-slashes{
    color: orange;
}

/*---FOOTER---*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C2233;
    color: white;
}

footer .footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
    width: 100%;
}

footer .footer h4{
    margin-bottom: 20px;
}

footer a{
    text-decoration: none;
    color:#888fa0;
}

footer .footer li{
    list-style-type: none; /*https://getcssscan.com/blog/how-to-remove-bullets-from-li-css*/
    margin-top: 10px;
    font-size: small;
}
footer .footer ul {
    padding-left: 0px;
}

footer .copyright-statement{
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: x-small;
    color: #888fa0;
}

footer .copyright-statement hr{
    border: 1px solid;
    color: #888fa0;
    opacity: 10%;
    width: 100%;

}

/*---HOME-->BILLBOARD---*/

main .billboard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 350px;
    background-color: #30374B;
    color: white;
    padding-left: 240px;
}

main .billboard h2{
    font-family: serif;
    font-weight: normal;
    font-size: 2em;
    margin-top: 60px;
    margin-bottom: 0px;
}

main .billboard p{
    color: #888fa0;
    line-height: 22px; /*https://www.w3schools.com/cssref/pr_dim_line-height.php*/
}

main .billboard a{
    text-decoration: none;
    padding: 10px 15px;
    font-size: x-small;
    font-weight: 900;
    color: #30374B;
    border-radius: 2px;
    margin-top: 10px;
    background-color: rgb(219, 176, 45);
}

main .braces{
    position: absolute; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/position*/
    right: 0px;
    top: 102px;
    font-size: 170px;
    color: #3d4559; 
    opacity: 20%;
    margin: 0;
    pointer-events: none; /*https://www.w3schools.com/cssref/css3_pr_pointer-events.php*/
}

/*---HOME-->FEATURED PRODUCTS---*/

main .featured-products{
    padding: 25px;
    background-color: #f1f2f6;
}

main .featured-products h3{
    font-family: serif;
    font-size: x-large;
    font-weight: 500;
    margin-bottom: 30px;
}

main .cards{
    display: flex;
    justify-content: space-between;
}

main .card{
    background-color: white;
    border: 1px solid;
    border-color: #d5d9e2;
    border-top: 4px solid;
    border-top-color: rgb(13, 136, 95);
    border-radius: 5px;
    width: 24%;
}

.card:hover{
    border-color: tan;
}

main .thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f2f6;
    margin: 0px;
    padding: 20px;
}

main .thumbnail img{
    display: block;
    width: 100%;
    height: 200px;
    object-fit: contain;/*https://www.w3schools.com/css/css3_object-fit.asp*/
}

main .card h4{
    margin: 10px 15px;
    font-size: 0.95em;
}

main .card p{
    margin: 10px 15px;
    font-family: "Roboto Mono", monospace;
    font-size: 0.85em;
    color: #888fa0;
}

main .card nav a{
    display: block;
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid;
    border-color: black;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    font-size: .9em;
    height: 19px;
    color:rgb(57, 81, 117);
}

main .card nav a:hover{
    background-color: #1C2233;
    color: white;
}

/*---HOME-->WHY CHOOSE---*/

main .why-choose{
    padding-left: 25px;
}

main.why-choose h3{
    font-family: serif;
}

main .why-choose p{
    font-size: small;
    color:rgb(97, 92, 92);
}


/*---ABOUT-->BILLBOARD---*/

main .about-billboard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 150px;
    background-color: #30374B;
    color: white;
    padding-left: 280px;
    position: relative;
}

main .about-billboard h2{
    font-family: serif;
    font-weight: normal;
    font-size: 1.525em;
    margin-top: 50px;
    margin-bottom: 0px;
}

main .about-billboard p{
    color:#888fa0;
    font-size: small;
}


main .about-billboard .about-braces{
    font-size: 140px;
    position: absolute;
    right: 0px;
    top: -20px;   
    opacity: 20%;
    margin: 0px;
    pointer-events: none;
}

/*---ABOUT-->OUR STORY---*/

main .our-story{
    background-color: #f1f2f6;
    padding: 10px 0px;
    min-height: 150px;
}

main .our-story article{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .our-story h2{
    min-width: 120px;
    font-family: serif;
    font-weight: normal;
    font-size: large;
    margin-left: 150px;
}

main .our-story p{
    font-size: small;
    color: #6c707c;
    margin-left: 200px;
    margin-right: 50px;
    line-height: 20px;
}

/*---ABOUT-->OUR STORY---*/

main .our-values{
    padding: 20px;
}

main .our-values h2{
    text-align: center;
    font-family: serif;
    font-weight: normal;
    font-size: 1.525em;
    margin-bottom: 30px;
}

main .values-cards{
    display: flex;
    justify-content: space-between;

}

main .values-card{
    background-color: #f1f2f6;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(163, 158, 158);
    width: 30%;
    box-sizing: border-box;
    padding: 10px 15px;
}

main .values-card .sub-heading{
    font-family: serif;
    font-weight: bold
}

main .values-card .content{
    font-size: small;
    color: #6c707c;
}

main .value-icon-q{
    display: inline-block;
    padding: 1px 10px;
    font-family: "Roboto Mono", monospace;
    background-color: #1C2233;
    color: orange;
    border-radius: 3px;
}

main .value-icon-s{
    display: inline-block;
    padding: 1px 10px;
    font-family: "Roboto Mono", monospace;
    background-color: #1C2363;
    color: greenyellow;
    border-radius: 3px;
}

main .value-icon-i{
    display: inline-block;
    padding: 1px 10px;
    font-family: "Roboto Mono", monospace;
    background-color: #1C2363;
    color: white;
    border-radius: 3px;
}

/*---ABOUT-->MEET OUR TEAM---*/

main .meet-our-team{
    padding: 30px 120px 25px;
    background-color: #f1f2f6;
}

main .meet-our-team h2{
    text-align: left;
    font-family: serif;
    font-weight: normal;
    margin-bottom: 10px;
}

main .meet-our-team p{
    font-size: small;
    color: #6c707c;
}

main .team-cards{
    display: flex;
    justify-content: space-between;
}

main .team-card{
    width: 32%;
}

main .team-card .thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border: 1px solid;
    border-radius: 2px;

}

main .team-card h3{
    font-family: serif;
    font-size: medium;
    margin-left: 15px;
    font-family: serif;
    font-size: small;
    margin: 10px 0px 0px;
}

main .team-card .team-role{
    display: block;
    color: orange;
    font-family: "Roboto Mono", monospace;
    font-size: x-small;
}

main .team-card p{
    font-size: x-small;
    color: #6c707c;
    line-height: 1.5;
    margin: 10px 0px 0px;
    padding: 0px
}

/*ABOUT-->OUR JOURNEY*/

main .our-journey{
    padding: 40px 0px;
}

main .our-journey h2{
    text-align: center;
    font-family: serif;
    font-weight: normal;
    margin-bottom: 30px;
} 

main .timeline{
    border-left: 1px solid;
    border-color: #3d4559;
    padding-left: 30px;
    width: 580px;
    margin-left: 200px;
}

main .checkpoint{
    position: relative;
    padding-bottom: 20px;
}

main .checkpoint p{
    margin: 0px;
    font-size: small;
    line-height: 1.25;

}

main .checkpoint .date{
    font-family: "Roboto Mono", monospace;
    color: cadetblue;
    font-weight: 900;
    margin-bottom: 5px;
}


main .large-dot { /*https://www.w3schools.com/howto/howto_css_circles.asp*/
    height: 10px;
    width: 10px;
    background-color:white;
    border-radius: 50%;
    border: 1px solid;
    border-color: grey;
    display: inline-block;
    position: absolute;
    left: -36px;
    top: -3px;
    z-index: -1; /*https://www.w3schools.com/css/css_z-index.asp*/
}

main .small-dot {
    height: 5px;
    width: 5px;
    background-color: orange;
    border-radius: 50%;
    border: 1px solid;
    border-color: grey;
    display: inline-block;
    position: absolute;
    left: -33px;
}

